server/.idea/shelf

/confluence/target
/dependencies/repo
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
server/out/
/tmp
*.versionsBackup
/idea/testData/debugger/tinyApp/classes*
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
server/.gradle/
server/build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
server/.idea/libraries/Gradle*.xml
server/.idea/libraries/Maven*.xml
server/.idea/artifacts/PILL_*.xml
server/.idea/modules
server/.idea/runConfigurations/JPS_*.xml
server/.idea/runConfigurations/PILL_*.xml
server/.idea/libraries
server/.idea/modules.xml
server/.idea/gradle.xml
server/.idea/compiler.xml
server/.idea/inspectionProfiles/profiles_settings.xml
server/.idea/.name
server/.idea/artifacts/dist_auto_*
server/.idea/artifacts/ideaPlugin.xml